.firstsection {
    height: 70em;
    border : black , solid , 1px ; 
    border-radius: 10%;
    width: 100%;
    background-image: url('../../Images/background_image.jpg');
    background-position: center;
    background-size: cover;
}
.firstsection div {
    position: relative;
    display: block;
    top: 300px;
    width: 700px;
    height: 600px;
    border: black solid 0px;
    border-radius: 10% 10% 30% 10% ;
    background-image: linear-gradient(135deg,  #533e2a 35%, #4d191b 100%);
    margin: 30px;
    padding: 50px;

}
.firstsection div h1 {
    position: inherit; 
    top: 50px;
    margin : 30px;
    color: white ; 
    font-size: 2.5em;
}
.firstsection div .buttonconfig {
    top : 100px;
position: inherit;
width : 400px ; 
height: 150px ;
}