:root {
    --primary-color : #000000;
    --secondary-color : #424baa ; 
  }
  

.SecondSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 40px 0 40px;
    height: 70em;

}
.textandimagechoose {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.textandimagechoose img {
    width: 400px;
    height: 400px;
}
.TextWhyChoose {
    font-size: 50px;
    color: var(--secondary-color);
    width: 500px;
    height: 300px;
}
.pdescription{
    margin-top: 100px;
    font-size: 25px;
    font-weight: 500;
}
.textandimageimprove {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.Textimprove {
    font-size: 40px;
    color: black;
    margin-right: 30px;
    width: 500px;
    height: 300px;
    font-weight: 500;
}
.Textimprove span {
    color:var(--secondary-color);
    font-weight: 700;
}
.textandimageimprove img {
    height: 500px;
    width: 680px;
}