.Header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 20px;
    align-items: center;   
}
.Information {
    display: inline-block; 
    
}
.Header i {
    margin-left:10px ;
    font-size: 1.5em;
    cursor: pointer;
    border: 0 black;
    border-radius: 30%;
    padding: 10px;
    background-color: rgb(212, 210, 210);
}
.Information i {
    border: 0 black;
    border-radius: 30%;
    padding: 10px;
    background-color: rgb(212, 210, 210);
    margin-right:30px ;
    font-size: 1.5em;
    cursor: pointer;
}